<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Date Picker</title>
    <link rel="stylesheet" href="datePicker.css" type="text/css" />
</head>
<body>

<h1>Date picker</h1>

<section>
    <h2>Result</h2>
    <p class="dp-result" id="dpResult">Selected date: <span></span></p>
</section>

<form>
    <div class="datePicker">
        <input type="date" />
    </div>

    <div class="datePickerFallback" style="display: none">
        <div class="dp-row">
            <label for="day">Day:</label>

            <section id="day" class="day">
                <button value="1">1</button>
                <button value="2">2</button>
                <button value="3">3</button>
                <button value="4">4</button>
            </section>
        </div>

        <div class="dp-row">
            <label for="month">Month:</label>

            <select name="month" id="month">
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
            </select>
        </div>

        <div class="dp-row">
            <label for="month">Year:</label>

            <select name="year" id="year">

            </select>
        </div>

    </div>

</form>





<script src="./datePicker.js"></script>
</body>
</html>
